






<div class="container">
    <h1>PAGINA NO ENCONTRADA</h1>
    <!-- <button [routerLink]="" class="btn btn-sm btn-primary">ir a welcome</button>
    <button [routerLink]="['prueba']" class="btn btn-sm btn-success">ir a pruebas</button>
    <button [routerLink]="['404']" class="btn btn-sm btn-danger">ir a not found</button>
    <button [routerLink]="['auth']" class="btn btn-sm btn-warning">iniciar sesion</button> -->

    <!-- <a routerLink="Home">Home</a> <br>
    <a routerLink="/Contrato">Contrato</a> <br>
    <a routerLink="/TerCondi">Terminos</a> <br> -->
    <a routerLink="/auth">auth</a>
</div>