<div class="container">
    <div class="main-body">  
          <!-- Breadcrumb -->
          <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="index.html">Principal</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/tienda">Tienda</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/medio">Medios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/somos">Somos</a>
                  </li>
                </ul>
              </div>
            </nav>
          </header>        
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <!-- Aquí está tu imagen, como antes -->
                    <img [src]="imagenSeleccionada" alt="Admin" class="rounded-circle imagen-personalizada">
                    
                    <!-- Carga de usuarios -->
                    <div *ngFor="let usuario of usuarios" class="mt-3">
                      <h4>{{ usuario.usuario1 }}</h4>
                    </div>
                    
                    <!-- Carga de roles -->
                    <div *ngFor="let rol of rols">
                      <h6>{{ rol.funcion }}</h6>
                      
                      <!-- Aquí añadimos el input oculto -->
                      <input type="file" id="upload-input" (change)="cargarImagen()" style="display:none">
                      
                      <!-- Botón para subir -->
                      <button class="btn btn-primary" (click)="subirImagen()">subir</button>
                      
                      <!-- Botón para actualizar -->
                      <button class="btn btn-outline-primary">Actualizar</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                    <span class="text-secondary">https://bootdey.com</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                    <span class="text-secondary">@bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                </ul>
              </div> -->
            </div>
            <div class="col-md-8">
              <div *ngFor="let persona of personas" class="card mb-3">
                <!-- <tr *ngFor="let persona of personas"> -->
                    <div class="card-body">
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Nombres</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            <ng-container *ngIf="!editMode; else editNombres">
                              <div>{{persona.nombres}}</div>
                            </ng-container>
                            <ng-template #editNombres>
                              <input type="text" [(ngModel)]="persona.nombres" class="form-control">
                            </ng-template>
                          </div>
                        </div>
                        <hr>
                      
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">ApellidoPaterno</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            <ng-container *ngIf="!editMode; else editPaterno">
                              <div>{{persona.apellidoPaterno}}</div>
                            </ng-container>
                            <ng-template #editPaterno>
                              <input type="text" [(ngModel)]="persona.apellidoPaterno" class="form-control">
                            </ng-template>
                          </div>
                        </div>
                        <hr>
                      
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">ApellidoMaterno</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            <ng-container *ngIf="!editMode; else editMaterno">
                              <div>{{persona.apellidoMaterno}}</div>
                            </ng-container>
                            <ng-template #editMaterno>
                              <input type="text" [(ngModel)]="persona.apellidoMaterno" class="form-control">
                            </ng-template>
                          </div>
                        </div>
                        <hr>
                      
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">FechaNacimiento</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            <ng-container *ngIf="!editMode; else editFechaNac">
                              <div>{{persona.fechaNacimiento}}</div>
                            </ng-container>
                            <ng-template #editFechaNac>
                              <input type="date" [(ngModel)]="persona.fechaNacimiento" class="form-control">
                            </ng-template>
                          </div>
                        </div>
                        <hr>
                      
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">CorreoElectronico</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            <ng-container *ngIf="!editMode; else editCorreo">
                              <div>{{persona.correoElectronico}}</div>
                            </ng-container>
                            <ng-template #editCorreo>
                              <input type="text" [(ngModel)]="persona.correoElectronico" class="form-control">
                            </ng-template>
                          </div>
                        </div>
                        <hr>
                      
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">NumeroCelular</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            <ng-container *ngIf="!editMode; else editCelular">
                              <div>{{persona.numeroCelular}}</div>
                            </ng-container>
                            <ng-template #editCelular>
                              <input type="text" [(ngModel)]="persona.numeroCelular" class="form-control">
                            </ng-template>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">TipoPersona</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            <ng-container *ngIf="!editMode; else editTipoPersona">
                              <div>{{persona.tipoPersona}}</div>
                            </ng-container>
                            <ng-template #editTipoPersona>
                              <input type="text" [(ngModel)]="persona.tipoPersona" class="form-control">
                            </ng-template>
                          </div>
                        </div>
                        <hr>
                      
                      
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">NroIdentificacion</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            <ng-container *ngIf="!editMode; else editNridenti">
                              <div>{{persona.nroIdentificacion}}</div>
                            </ng-container>
                            <ng-template #editNridenti>
                              <input type="text" [(ngModel)]="persona.nroIdentificacion" class="form-control">
                            </ng-template>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">idTipoDocumento</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            <ng-container *ngIf="!editMode; else editIdidenti">
                              <div>{{persona.idTipoDocumento}}</div>
                            </ng-container>
                            <ng-template #editIdidenti>
                              <input type="text" [(ngModel)]="persona.idTipoDocumento" class="form-control">
                            </ng-template>
                          </div>
                        </div>
                        <hr>                            
                        <div class="row">
                            <div class="col-sm-12">
                              <ng-container *ngIf="!editMode; else saveCancelButtons">
                                <a class="btn btn-info" (click)="editarPerfil()">Editar</a>
                              </ng-container>
                              <ng-template #saveCancelButtons>
                                <a class="btn btn-success" (click)="guardar()">Guardar</a>
                                <a class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</a>
                              </ng-template>
                            </div>
                          </div>
                          
                </div>
                <!-- </tr> -->
              </div>
              <!-- <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
                      <small>Web Design</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Website Markup</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>One Page</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Mobile Template</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Backend API</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
                      <small>Web Design</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Website Markup</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>One Page</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Mobile Template</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Backend API</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->



            </div>
          </div>

        </div>
    </div>