<!DOCTYPE html>
 <html lang= "en">
 <head>
     <meta charset= "UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login3</title>
 </head>
 <body>
    <section>
        <form [formGroup]="loginForm">
            <h1>Login</h1>
            <div class="mensaje">
                <p>"Bienvenido, inicia sesión para continuar."</p>
            </div>
            <div class="inputbox">
                <select class="form-control centered-select" id="tipoInicio">
                    <option value="Cliente">Cliente</option>
                    <option value="Administrador">Administrador</option>
                    <option value="Tecnico">Tecnico</option>
                </select>
            </div>
            <div class="inputbox">
                <i class="bi bi-envelope-fill"></i>
                <input formControlName="usuario" type="email" placeholder="Email" required>
                <label >Username</label>
            </div>
            
            <div class="inputbox">
                <span class="eye" (click)="togglePasswordVisibility()">
                    <i *ngIf="!showPassword" id="hide1" class="bi bi-eye-slash-fill"></i>
                    <i *ngIf="showPassword" id="hide2" class="bi bi-eye-fill"></i>
                </span>           
                <input 
                    id="myInput" 
                    [type]="showPassword ? 'text' : 'password'" 
                    formControlName="contraseña" 
                    placeholder="password" 
                    required>
                <label>Password</label>
            </div>
            <div class="forget">
                <label for=""><input type="checkbox">Remember Me</label>
              <a href="#">Forget Password</a>
            </div>
            <button class="login-btn" [disabled]="loginForm.invalid" (click)="login()">Log in</button>
            <div class="register">
                <p>Don't have a account <a href="#">Register</a></p>
            </div>
            <hr>
            <div class="continuar">
                <p>Continuar con</p>
            </div>
            <div class="icon">
                <i class="bi bi-instagram"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-whatsapp"></i>
            </div>
        </form>
    </section>
</body>
</html> 
    
   
  